@{
    ViewData["Title"] = "Document Page";
}

    <head>
        <link href="~/css/style.css" rel="stylesheet" />
        

        <style>
            .div-helper-border {
                border: 4px double black; /* Параметры границы */
                padding: 10px; /* Поля вокруг текста */
            }

            .p-helper {
                color: #000;
                font-style: italic;
            }

            .hidden {
                display: none;
            }
        </style>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Document" asp-action="EditLinks">Редактировать ссылки и закладки</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Document" asp-action="UsingHypertext">Использование гипертекста</a>
                            </li>
                        </ul>
                    </div>

                    <button id="changeColorButton" class="btn-secondmenu">Button</button>
                    <select name="colors" id="changeColorSelect">
                        <option value="#FFFAFA">Snow</option>
                        <option value="#F0FFF0" selected="selected">Honeydew</option>
                        <option value="#FFFFFF">White</option>
                        <option value="#DEB887">BurlyWood</option>
                    </select>

                </div>
            </nav>
        </header>


        <button id="help-button" style="display: inline-block;" type="button">ПОМОЩЬ</button>

        <div id="messages">
            @foreach (var item in ViewBag.Messages)
            {
                <p>@item</p>
            }
        </div>

        <div class="text-center">
            <style>
                #text {
                    width: 80%;
                }
            </style>
            <div>
                <form asp-action="Index" asp-controller="Document" method="post" enctype="multipart/form-data">
                    <div class="div-helper-border">
                        <p class="p-helper hidden">Это поле для ввода слова, по которому Вы хотите создать гиперссылку или закладку.</p>
                        <label for="word">Слово для гипертекста: </label>
                        <input type="text" name="word" id="word">
                    </div>

                    <div class="div-helper-border">
                        <p class="p-helper hidden">Это поле для ввода текста, которое будет добавлено в виде гиперссылки или закладки.</p>
                        <label for="text">Введите текст для гиперссылки/закладки: </label>
                        <input type="text" name="text" id="text">
                    </div>

                    <div class="div-helper-border">
                        <p class="p-helper hidden">С помощью этой кнопки Вы можете добавить картинку, которая будет использована в качестве гиперссылки ли закладки.</p>
                        <label for="image">
                            Выберите изображение для гиперссылки/закладки::
                            <input type="file" id="image" name="image">
                        </label>
                    </div>

                    <div class="div-helper-border">
                        <p class="p-helper hidden">Тут Вы выбираете какой тип должен быть у вашей ссылки: гиперссылка или закладка.</p>
                        <label for="">Выберите тип ссылки: </label>
                        <label>Гиперссылка <input type="radio" name="linkType" value="hyperlink"></label>
                        <lable>Закладка <input type="radio" name="linkType" value="bookmark"></lable>
                    </div>

                    <div class="div-helper-border">
                        <p class="p-helper hidden">В этом поле Вы можете выставить количество добавляемых ссылок, начиная с начала документа. Число должно быть больше нуля. Если число не указано, то все встреченные слова будут помечены как ссылки.</p>
                        <label>Количество ссылок/закладок</label>
                        <input id="count" name="count" type="number" min="1">
                    </div>

                    <div class="div-helper-border">
                        <p class="p-helper hidden">Нажимая на эту конпку, Вы отправляете данные программе для добавления нужной вам ссылки.</p>
                        <label>Отправить данные в программу.</label>
                        <button>Отправить</button>
                    </div>
                </form>

            </div>

            <div>
                <h3>Скачать файл: </h3>
                <div>
                    @using (Html.BeginForm("Download", "Document"))
                    {
                        <button>Скачать</button>
                    }
                </div>
            </div>

        </div>

        <div>
            <iframe height="600px" width="100%" src='@ViewBag.LongText'></iframe>
        </div>

        <script>
            let helpButton = document.getElementById("help-button");
            helpButton.onclick = function () {
                var pTags = document.getElementsByClassName("p-helper");
                if (pTags.length > 0) {
                    if (pTags[0].classList.contains("hidden")) {
                        for (const pItem of pTags) {
                            pItem.classList.remove("hidden");
                        }
                    }
                    else {
                        for (const pItem of pTags) {
                            pItem.classList.add("hidden");
                        }
                    }

                }
            }
        </script>

    </body>