<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>
  <variable name="formatException" value="${callsite} ${callite-linenumber} ${level} ${exception} ${message} ${date}"/>
  <variable name="formatInformation" value="${message} ${data}"/>
  <targets>
    <target name="exception" xsi:type="File" fileName="${logDirectory}/ExceptionsLog.txt" layout="${formatException}"/>
    <target name="user" xsi:type="File" fileName="${logDirectory}/UserLog.txt" layout="${formatInformation}"/>
  </targets>
  <rules>
    <logger name="user" minlevel="Info" writeTo="user"/>
    <logger name="exception" minlevel="Error" writeTo="exception"/>
  </rules>
</nlog>