/** {
	box-sizing: border-box;
}

html,
/*body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}*/

/*#main {
	width: 100%;
	height: 100%;
	background-color: #eee;
}*/

#switch {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px;
	height: 18px;
	transform: translate(-50%, -50%);
}

	#switch:hover {
		cursor: pointer;
	}

#slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 25px;
	height: 7px;
	margin: auto;
	border-radius: 7px;
	background-color: #222;
	transition: all 0.3s ease-in-out;
}

	#slider.change {
		opacity: 0.3;
	}

#circle {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 16px;
	height: 16px;
	margin: auto;
	border-radius: 16px;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}

	#circle.change {
		right: 9px;
	}

#circle-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 0;
	height: 7px;
	margin: auto;
	border: 1px solid #222;
	border-radius: 7px;
	transition: all 0.3s ease-in-out;
}

	#circle-content.change {
		width: 7px;
		opacity: 0.3;
	}
