@{
    ViewData["Title"] = "Home Page";
}

@model string

    <head>
        <link href="~/css/style.css" rel="stylesheet" />
        @*<script src="https://cdn.tiny.cloud/1/wrl0wkirvr9jzs3w6uca24pdnk6z8t6dvevmktjg3j9i5vh6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>*@
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>tinymce.init({ selector: 'textarea' });</script>
    </head>
<body>

    <div class="text-center">

        <div>
            <form method="post">
                <p>
                    <label for="word">Слово для гипертекста: </label>
                    <input type="text" name="word" id="word" value="гипертекст" />
                </p>

                <p>
                    <label for="text">Текст для сноски: </label>
                    <input type="text" name="text" id="text" value="https://ru.wikipedia.org/wiki/%D0%93%D0%B8%D0%BF%D0%B5%D1%80%D1%82%D0%B5%D0%BA%D1%81%D1%82"/>
                </p>

                <p>
                    <label for="">Выберите тип ссылки: </label>
                    <lable>Закладка <input type="radio" name="hyperlinkType" value="bookmark"/></lable>
                    <label>Ссылка <input type="radio" name="hyperlinkType" value="hyperlink"/></label>
                </p>

                <button>Отправить</button>
            </form>
        </div>

        <div>
            <textarea>@ViewBag.LongText</textarea>
            <script>
                tinymce.init({
                    selector: 'textarea',
                    plugins: 'a11ychecker advcode casechange formatpainter linkchecker lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinydrive tinymcespellchecker',
                    toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter insertfile pageembed permanentpen table',
                    toolbar_drawer: 'floating',
                    tinycomments_mode: 'embedded',
                    tinycomments_author: 'Author name',
                });
            </script>

        </div>

    </div>
</body>