@{
    ViewData["Title"] = "Home Page";
}

@model string

    <head>
        <link href="~/css/style.css" rel="stylesheet" />
        @*<script src="https://cdn.tiny.cloud/1/wrl0wkirvr9jzs3w6uca24pdnk6z8t6dvevmktjg3j9i5vh6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>*@
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>tinymce.init({ selector: 'textarea' });</script>
    </head>
<body>

    <div>
        <a href="~/Home/TextRedactor">Text Redactor</a>
    </div>

    <div class="text-center">


        <div>
            <form method="post">
                <p>
                    <label for="word">Слово для гипертекста: </label>
                    <input type="text" name="word" id="word" />
                </p>

                <p>
                    <label for="text">Текст для сноски: </label>
                    <input type="text" name="text" id="text" />
                </p>

                <button>Отправить</button>
            </form>
        </div>

        <div>
            <p>@ViewBag.Text</p>
        </div>

        @*<div>                
            <textarea>@ViewBag.LongText</textarea>
        </div>*@

        <div>
            <textarea>@ViewBag.LongText</textarea>
            <script>
                tinymce.init({
                    selector: 'textarea',
                    plugins: 'a11ychecker advcode casechange formatpainter linkchecker lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinydrive tinymcespellchecker',
                    toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter insertfile pageembed permanentpen table',
                    toolbar_drawer: 'floating',
                    tinycomments_mode: 'embedded',
                    tinycomments_author: 'Author name',
                });
            </script>

        </div>

    </div>
</body>