
@{ 
    ViewData["Title"] = "Платформа для добавления гипертекста";
}
<html>
<body>

    @if (string.IsNullOrWhiteSpace(WebApplication1.Controllers.HomeController.userFolder))
    {
        <div>
            <h1>ВЫ НЕ БЫЛИ ОПОЗНАНЫ!</h1>
            <h1>Перейдите на вкладку с <a asp-action="Login" asp-controller="Home">авторизацией</a></h1>
        </div>
    }
    else
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <h1 class="h1 text-center">Приветствую Вас на сайте по добавлению гипертекста в текст!</h1>
                </div>
            </nav>
        </header>

        <div>

            <div style="align-content:center; align-items:center">


                <h3>Пожалуйста, загрузите файл.</h3>
                <form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" />
                    <button>Отправить</button>
                </form>
            </div>

            @if (!string.IsNullOrWhiteSpace(ViewBag.FileFormatErrorMessage))
            {
                <p>@ViewBag.FileFormatErrorMessage</p>
            }

        </div>
    }



    @*<iframe height="600px" width="90%" src="~/2019.11.docx.html"></iframe>*@

    <h1>@WebApplication1.Controllers.HomeController.test</h1>

    <iframe height="600px" width="90%" src='@WebApplication1.Controllers.HomeController.test'></iframe>

</body>
</html>
