@{
    ViewData["Title"] = "Home Page";
}

@model string

<head>
    <link src="~/Styles/style.css" rel="stylesheet"/>
</head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

            <div contenteditable="true">
                Этот текст можно редактировать…
            </div>

            <div>
                <form method="post">
                    <p>
                        <input type="text" name="text" />
                    </p>
                </form>
            </div>

            <div>
                @if (!String.IsNullOrWhiteSpace(ViewBag.Text))
                {
                    <p>@ViewBag.Text</p>
                }
            </div>


            <div>
                <h1>Вывод содержимого файла</h1>
                <textarea cols="200" rows="200" readonly>@ViewBag.LongText</textarea>



                @*<iframe name="myIframe" id="myIframe" src="https://localhost:44335/" width="1200" height="1600"></iframe>*@
                @*<ejs-pdfviewer id="container" style="height:600px" serviceUrl="/api/PdfViewer" src=""></ejs-pdfviewer>*@
            </div>
        </div>
    </body>