@{
    ViewData["Title"] = "Home Page";
}

@model string

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <div contenteditable="true">
            Этот текст можно редактировать…
        </div>

        <div>
            <form method="post">
                <p>
                    <input type="text" name="text" />
                </p>
            </form>
        </div>

        <div>
                @if (!String.IsNullOrWhiteSpace(ViewBag.Text))
                {
                    <p>@ViewBag.Text</p>
                }           
        </div>


        <div>
            <h1>Вывод содержимого файла</h1>
            <p>@ViewBag.LongText</p>
        </div>
    </div>
