
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/logIn.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/images/user.jpg" id="icon" alt="User Icon" style="width:120px; height:120px;" />
            </div>

            <!-- Login Form -->
            <form method="post">
                <input type="text" id="firstname" class="fadeIn second" name="firstname" placeholder="Имя">
                <input type="text" id="lastname" class="fadeIn second" name="lastname" placeholder="Фамилия">
                <input type="text" id="patronymic" class="fadeIn second" name="patronymic" placeholder="Отчество">
                @*<input type="password" id="password" class="fadeIn third" name="password" placeholder="Пароль">*@
                <input type="submit" class="fadeIn fourth" value="Войти">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="~/Home/Registration">Регистрация</a>
            </div>

        </div>
    </div>
</body>
</html>
