
@{
    ViewData["Title"] = "UsingHypertext";
}

<head>

</head>

<body>
    <style>
        li{
            margin: 5px;
        }
    </style>
    <div>
        <ul>
            <li>
                Cтоит обратить внимание, что ввиду смены поколения, некоторые слова и словосочетания могут стать устаревшими для произношения.
                Ввиду этого, значения некоторых забываются следующим поколением.
                Из-за подобных случаев соавтору также придется разъяснять читателю некоторые слова и словосочетания, которые вышли из общего употребления.
                Например, выражение «бегать по девичьим», которое значит собирать слухи и сплетни, либо весело проводить время в компании женщин.
                А само слово «девичья» означает комнату в помещичьем доме для дворовых девушек, горничных.
            </li>

            <li>
                В предыдущем примере с выражением «бегать по девичьим», помимо темы значения слов и словосочетаний, затронута тема смысла.
                В буквальном смысле можно понять, что кто-то бегал по комнатам, где проводят свой досуг горничные, но на самом деле имеется и другой смысл.
                Подобный пример доказывает то, что соавтор должен также быть осведомлен в подобных мелочах при написании гипертекста.
            </li>

            <li>
                Если же человек не знает значение какого-либо слова, то он может обратиться к толковым словарям, поисковым системам и прочим источникам.
                Но в данном случае также имеются подводные камни. Стоит обратиться к тому же произведению, откуда был взят предыдущий пример – «Капитанская дочка».
                В данном произведении была фраза, в которой есть слово, которое читатель может неправильно истолковать: «Я жил недорослем, гоняя голубей и играя в чехарду с дворовыми мальчишками».
                Увидев подобное, соавтор должен хорошо подумать, что имел ввиду автор произведения. Информация, найденная в Интернете, дала следующие понятия этому слову:
                <ol>
                    <li>В XVIII в. в России: молодой дворянин, не достигший совершеннолетия и не поступивший еще на государственную службу.</li>
                    <li>(разг., ирон.) Глуповатый юноша-недоучка</li>
                </ol>
            </li>

            <li>
                Остается только уточнить, что в данном контексте слово никак не связано с произведением Фонвизина «Недоросль».
                Данный пример показывает, что даже при простом объяснении слова можно ошибиться.
            </li>

            <li>
                Так как текст в литературных произведениях может содержать сылки на какие-либо научные открытия или на исторические факты,
                то разработчику гипертекста лучше всего не просто указать основные моменты, а также создать гиперссылку, которая позволит читателю более внимательно ознакомиться с событием или фактом,
                если его это заинтересует. Для примера снова будет приведен текст из «Капитанская дочка»:
                «Генерал-поручик!.. Он у меня в роте был сержантом!.. Обоих российских орденов кавалер!.. А давно ли мы…».
                В данном примере хотелось бы обратить внимание на «Обоих российских орденов кавалер!».
                Разработчик гипертекста может просто сделать гипертекст, вписав в ссылку то, что в 18 веке были следующие ордена: орден святого апостола Андрея Первозванного и Святого Александра Невского.
                И больше не писать никакой информации. В случае, если читатель захочет узнать об этих орденах побольше, то ему придется отложить электронный учебник и уже смотреть информацию в Интернете.
                Чтобы этого не было, разработчик гипертекста может создать гиперссылку на часть своего текста, созданного для гипертекста, организуя информацию более иерархично,
                что является достоинством гипертекста.
            </li>

            <li>
                Если соавтор старается объяснять каждое слово, то это не вредит общему содержанию текста.
                Но не стоит объяснять слова, которые искажены из-за того, что писались в прошлом или позапрошлом веке.
                Например, такие слова, как «слабостию», «по-нонешнему», «увидя» и прочие, можно назвать интуитивно-понятными словами.
                Подобные слова не могут сбить читателя с толку, так как они толкуются однозначно, но если использовать гипертекст, то это как раз может сбить читателя.
            </li>

            <li>
                Помимо объяснения содержания текста, а также некоторых слов, соавтор может внедрять межпредметные связи, которые помогут учащимся лучше понять совершенно иной предмет.
                Для примера можно привести следующий фрагмент Капитанской дочки: «Отец мой, Андрей Петрович Гринев, в молодости своей служил при графе Минихе и вышел в отставку премьер-майором в 17… году.».
                С помощью гипертекста читателю можно пояснить кто такой граф Миних и его историческую роль в отечественной истории.
                Таким образом учащиеся помимо прочтения литературы узнают краткую биографию некоторых исторических личностей.
            </li>
        </ul>

    </div>

</body>